.head
{
    background-image: linear-gradient(rgba(213, 186, 111, 0.8), rgba(180, 124, 40, 0.521)), url(./desk.webp);
    height: 75vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 60px;
    font-weight: 300px;
    font-family:monospace;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: block;
    padding: 60px;

}

.head:hover{
    background-color: coral;
}
.blue{
    height: 300px;
    width: 300px;
    background-color:blanchedalmond;
}
.green{
    height: 300px;
    width: 300px;
    background-color:chocolate;
}
.red{
    height: 300px;
    width: 300px;
    background-color:lightsalmon;
}
.con{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

}