body{
    font-family: monaco;
    background-color:#28223f;

}
.main
{
    margin:100px auto;
    color: white;
    border-radius: 15px;
    width: 450px;
    height: 500px;
    text-align: center;
    box-shadow: 0 1px 20px -10px rgba(0,0,0,.75);
}
img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 5px solid #28223f;
    margin: 70px;
}
.icons{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Helvetica;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 3rem;
    color: white;

}

icons:hover{
    background-color: aqua;
}
.cover-photo{
    background: url(LEX_4830.jpg);
    height: 150px;
}

.subhead{
    margin-top: 30px;
    line-height: 30px;
    font-size: 15px;
}
.profile-name{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 20px 0 20 0;
    margin-top: 75px;
}

button{
    margin: 10px 0 40px 0;
    background: rgb(7, 131, 201);
    height: 30px;
    width: 80px;
    color: white;
    font-size: 15px;
    border: none;
    transform: 2s;
}
button:hover{
    background-color: aqua;
}